.form_lbl
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; font-style: normal; font-weight: bold;
	color: #000000; text-decoration: none
}

.err_txt
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; font-style: normal; font-weight: normal;
	color: #FF0000; text-decoration: none
}

.msg_txt
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; font-style: normal; font-weight: normal;
	color: #00007F; text-decoration: none
}

.def_txt
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px; font-style: normal; font-weight: normal;
	color: #000000; text-decoration: none
}
